[submodule "dataset"]
	path = dataset
	url = https://github.com/BrainSegmentation/section-segmentation-dataset
[submodule "toolbox/MaskRCNN"]
	path = toolbox/MaskRCNN
	url = https://github.com/BrainSegmentation/Jekeel_Mask_RCNN.git
