[submodule "dataset"]
	path = dataset
	url = https://github.com/BrainSegmentation/section-segmentation-dataset

[submodule "MaskRCNN"]
	path = MaskRCNN
	url = https://github.com/BrainSegmentation/Jekeel_Mask_RCNN.git
